<div class="coffee">
  <a href="https://www.buymeacoffee.com/someparty" target="_blank">
    <%= image_tag 'coffee.svg', alt: "Mug Mug Mug", width: "50px" %>
  </a>
  <p>
    Enjoying the newsletter? You can support Some Party by <a href="https://www.buymeacoffee.com/someparty" target="_blank">buying me a coffee</a>!
  </p>
</div>
