<form class="mt3" data-controller="contest" data-action="submit->contest#submit" data-contest="<%= current_page.data.contest_key %>" data-confirm="<%= current_page.data.confirm %>">
  <div class="flex" data-contest-target="input">
    <input type="text" name="email" id="contest_email" class="ba f6 f5-ns pl2 lh-copy h2 mr2 fg1" placeholder="you@domain.ca" data-contest-target="email" />
    <input type="submit"  value="Enter Draw" class="bn ttu white bg-red dim f5 ph3 lh-copy h2" />
  </div>
  <div class="flex justify-center items-center-ns" data-contest-target="spinner"></div>
</form>
