<form class="inline-form" data-controller="contest" data-action="submit->contest#submit" data-contest="<%= current_page.data.contest_key %>" data-confirm="<%= current_page.data.confirm %>">
  <div data-contest-target="input">
    <input type="text" name="email" id="contest_email" class="email" placeholder="you@domain.ca" data-contest-target="email" />
    <input type="submit" value="Enter Draw" class="submit" />
  </div>
  <div class="spinner" data-contest-target="spinner"></div>
</form>
