  <div class="bg-black cover white pv4 ph4 someparty-back">

    <p class="f4 mt1">Subscribe today and find the Some Party newsletter waiting in your inbox once a week. React to it at your leisure. </p>

    <%= partial '/_partials/subscribe' %>

  </div>
