  <div class="bottom-cta-wrapper">
    <div class="bottom-cta">
      <h2>React to it at your leisure</h2>
      <p>
      Some Party is Adam White's misguided quest to share the latest in Canadian garage rock, punk, psych, and more. Subscribe and get it in your inbox more-or-less weekly. Your information's always kept private, and unsubscribing is easy.
      </p>

      <%= partial '/_partials/subscribe' %>
      <%= partial '/_partials/menu' %>
      <%= partial '/_partials/coffee' %>
    </div >

  </div>
