<footer>
  <div class="footer-icon">
    <a href="https://github.com/someparty/someparty">
      <%= image_tag 'github.svg', alt: "Fork Me On GitHub", width: "50px" %>
    </a>
    <p>Source code for Some Party is available under an MIT License at <a href="https://github.com/someparty/someparty">GitHub</a>.</p>
  </div>

  <div class="footer-icon">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" style="text-decoration:none;">
      <%= image_tag 'cc.svg', alt: "Creative Commons Attribution 4.0 International license", width: "50px" %>
      <%= image_tag 'by.svg', alt: "Attribution Required", width: "50px" %>
    </a>
    <p>Content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
  </div>
</footer>
