<footer class="f5 tc mv5 cb dib w-100">

  <div class="mw5 dib mh4">
    <a href="https://github.com/someparty/someparty" class="no-underline mv3 dib">
      <%= image_tag 'github.svg', alt: "Fork Me On GitHub", width: "50px" %>
    </a>
    <br/>
    Source code for Some Party is available under an MIT License at <a href="https://github.com/someparty/someparty" class="b black no-underline">GitHub</a>.
  </div>

  <div class="mw5 dib mh4">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" class="no-underline mv3 dib">
      <%= image_tag 'cc.svg', alt: "Creative Commons Attribution 4.0 International license", width: "50px" %>
      <%= image_tag 'by.svg', alt: "Attribution Required", width: "50px" %>
    </a>
    <br/>
    Content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" class="b black no-underline">Creative Commons Attribution 4.0 International License</a>.
  </div>

</footer>
