<div class="dib tc w-100">
  <a href="/premieres/telegenic-pleasure/" class="dib">
    <%= image_tag '/images/premieres/telegenic-pleasure-cover.jpg', alt: "Telegenic Pleasure", class: "w-100 dib-ns mw5 mt4 dim ba b--black-20" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">
  Debuting <a class="black no-underline fw4 bb b--black" href="/premieres/telegenic-pleasure/">Telegenic Pleasure</a> - a new London(s)-spanning synth-punk group from members of Isölation Party, Mononegatives, The Gaggers, and Miscalculations
</p>
