<div class="dib tc w-100">
  <a href="/premieres/mildew-mildew-ketchup-chips/" class="dib">
    <%= image_tag '/images/premieres/mildew-mildew-different-floors.jpg', alt: "Mildew Mildew - Different Floors", class: "w-100 dib-ns mw5 mt4 dim" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">
Mississauga's eclectic noise-pop trio <a class="black no-underline fw4 bb b--black" href="/premieres/mildew-mildew-ketchup-chips/">Mildew Mildew</a> premiere "Ketchup Chips" from their new tape on Art of the Uncarved Block.</p>
