<div class="dib tc w-100">
  <a href="/premieres/luge-up-and-up/" class="dib">
    <%= image_tag '/images/premieres/luge-up-and-up.jpg', alt: "Luge - \"Up & Up\"", class: "w-100 dib-ns mw5 mt4 dim ba b--black-20" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">Toronto no-wave art-punks <a class="black no-underline fw4 bb b--black" href="/premieres/luge-up-and-up/">Luge</a> premiere their video(game) for "Up & Up," an instant arcade classic!</p>
