<div class="dib tc w-100">
  <a href="/premieres/deathsticks-finger-food/" target="_blank" class="dib">
    <%= image_tag '/images/premieres/deathsticks-finger-food.jpg', alt: "Deathsticks - Finger Food", class: "w-100 dib-ns mw5 mt4 dim" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">
Ottawa's noise-punk duo <a class="black no-underline fw4 bb b--black" href="/premieres/deathsticks-finger-food/" target="_blank">Deathsticks</a> are premiering their new song and video "Finger Food," from their upcoming EP Deathsnacks on Some Party this week.</p>
