<div class="dib tc w-100">
  <a href="/premieres/rust-owl-awkward-age/" target="_blank" class="dib">
    <%= image_tag '/images/premieres/rust-owl-awkward-age.jpg', alt: "R U S T O W L - Awkward Age", class: "w-100 dib-ns mw5 mt4 dim" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">
Winnipeg's <a class="black no-underline fw4 bb b--black" href="/premieres/rust-owl-awkward-age/" target="_blank">R U S T O W L</a> are premiering their new song "Awkward Age" at Some Party this week. Check out this rootsy new post-punk band featuring ex-members of 1971.</p>
