<div class="dib tc w-100">
  <a href="/premieres/chladny-sex/" class="dib">
    <%= image_tag '/images/premieres/chladny-the-finch-flyer.jpg', alt: "Chladny - The Finch Flyer", class: "w-100 dib-ns mw5 mt4 dim ba b--black-20" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">Check out "Sex," the new video from Toronto folk-rockers <a class="black no-underline fw4 bb b--black" href="/premieres/chladny-sex/">Chladny</a> off their new record *The Finch Flyer*.</p>
