<div class="dib tc w-100">
  <a href="/premieres/colour-by-numbers-thaddeus/" class="dib">
    <%= image_tag '/images/premieres/colour-by-numbers-thaddeus.jpg', alt: "Colour By Numbers - Thaddeus", class: "w-100 dib-ns mw5 mt4 dim" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">
Winnipeg's <a class="black no-underline fw4 bb b--black" href="/premieres/colur-by-numbers-thaddeus/">Colour by Numbers</a> premiere their new live video for "Thaddeus," the theme to their upcoming rock opera.</p>
