<div class="dib tc w-100">
  <a href="/premieres/louie-short-lil-boy-girl/" class="dib">
    <%= image_tag '/images/premieres/louie-short-cherry-cherry.jpg', alt: "Louis Short", class: "w-100 dib-ns mw5 mt4 dim ba b--black-20" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">
  Premiering the new video for "<a class="black no-underline fw4 bb b--black" href="/premieres/louie-short-lil-boy-girl/">Lil Boy Girl</a>" from Toronto alt-pop singer/songwriter Louie Short
</p>
