<aside role="dialog" class="flex items-center justify-center ph2 pv2 bg-lime">
  <a class="no-underline f5 mr2 lh0" href="/premieres/matt-ellis-dmt-is-good-for-me/">
    <%= image_tag 'play.svg', alt: "Premiere", width: "15px" %>
  </a>
  <a class="no-underline f5 lh-copy black" href="/premieres/matt-ellis-dmt-is-good-for-me/">
    <strong>Bonus Premiere:</strong> Check out Matt Ellis' wild low-budget video for "DMT is Good for Me!"
  </a>
</aside>
