<div class="dib tc w-100">
  <a href="/premieres/chain-whip-crawlspace-boyfriend/" class="dib">
    <%= image_tag '/images/premieres/chain-whip-14-lashes.jpg', alt: "Chain Whip - \"Crawlspace Boyfriend\"", class: "w-100 dib-ns mw5 mt4 dim ba b--black-20" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">Vancouver hardcore act <a class="black no-underline fw4 bb b--black" href="/premieres/chain-whip-crawlspace-boyfriend/">Chain Whip</a> premiere "Crawlspace Boyfriend" from their upcoming debut full-length <i>14 Lashes</i>.</p>
