<div class="dib tc w-100">
  <a href="/premieres/somersaulter-music-to-talk-over/" class="dib">
    <%= image_tag '/images/premieres/somersaulter-music-to-talk-over.jpg', alt: "Somersaulter - Music to Talk Over", class: "w-100 dib-ns mw5 mt4 dim" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">
Toronto's <a class="black no-underline fw4 bb b--black" href="/premieres/somersaulter-music-to-talk-over/">Somersaulter</a> premiere the instrumental title track from their upcoming EP, *Music To Talk Over*, on Some Party this week.</p>
