<div class="dib tc w-100">
  <a href="/premieres/wrecker-passenger-party/" class="dib">
    <%= image_tag '/images/premieres/homewrecker-cover.jpg', alt: "Wrecker and Housepanther - Homewrecker", class: "w-100 dib-ns mw5 mt4 dim" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">
<a class="black no-underline fw4 bb b--black" href="/premieres/wrecker-passenger-party/">Wrecker</a> shares the video for "Passenger Party" the new Homewrecker split with Housepanther.</p>
