<div class="dib tc w-100">
  <a href="/premieres/ba-johnston-jesus-take-the-wheel/" class="dib">
    <%= image_tag '/images/premieres/ba-johnston-the-skid-is-hot-tonight.jpg', alt: "B.A. Johnston - Jesus Take The Wheel", class: "w-100 dib-ns mw5 mt4 dim" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">
Premiering <a class="black no-underline fw4 bb b--black" href="/premieres/ba-johnston-jesus-take-the-wheel/">B.A. Johnston</a>'s new banger "Jesus Take The Wheel" from <i>The Skid Is Hot Tonight</i>.</p>
