<div class="dib tc w-100">
  <a href="/premieres/the-sweeties-antioch/" class="dib">
    <%= image_tag '/images/premieres/the-sweeties-beneath-the-broadcast.jpg', alt: "The Sweeties - \"Antioch\" (Beneath The Broadcast)", class: "w-100 dib-ns mw5 mt4 dim ba b--black-20" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">Whitehorse 'sacred harp doom rock' duo <a class="black no-underline fw4 bb b--black" href="/premieres/the-sweeties-antioch/">The Sweeties</a> play "Antioch" live in the basement of CBC North as part of the Beneath The Broadcast series</p>
