<div class="dib tc w-100">
  <a href="/premieres/no-fix-barriers/" class="dib">
    <%= image_tag '/images/premieres/no-fix-barriers.jpg', alt: "No Fix - Barriers", class: "w-100 dib-ns mw5 mt4 dim" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">Check out a raw new <a class="black no-underline fw4 bb b--black" href="/premieres/no-fix-barriers/">No Fix</a> demo from Windsor's Matty Menard (Psychic Void, Brain Itch, Disco Assault)</p>
