<form class="mt3" data-controller="resend" data-action="submit->resend#submit">
  <div class="flex" data-resend-target="input">
    <input type="text" name="email" id="resend_email" class="ba f6 f5-ns pl2 lh-copy h2 mr2 fg1" placeholder="you@domain.ca" data-resend-target="email" />
    <input type="submit"  value="Request Unsubscribe Link" class="bn ttu white bg-red dim f5 ph3 lh-copy h2" />
  </div>
  <div class="flex justify-center items-center-ns" data-resend-target="spinner"></div>
</form>
