<form class="inline-form" data-controller="resend" data-action="submit->resend#submit">
  <div data-resend-target="input">
    <input type="text" name="email" id="resend_email" class="email" placeholder="you@domain.ca" data-resend-target="email" />
    <input type="submit" value="Request Unsubscribe Link" class="submit" />
  </div>
  <div class="spinner" data-resend-target="spinner"></div>
</form>
