<div class="sabbatical" data-controller="sabbatical">
  <p>The Some Party newsletter is on sabbatical. After nine years of regular updates, as of June, 2026 this publication is taking an extended, indefinite break so I can recharge and take stock. When I discover the time and energy to push forward, you'll hear about it. Thanks for your support.</p>

  <p>Until next time, keep your stick on the ice.</p>
</div>
