<a href="https://www.srcvinyl.ca" target="_blank">
  <%= image_tag 'sponsors/srcvinyl.svg', alt: "Some Party", class: "w-100 dib-ns mw5 mt4 dim" %>
</a>
<p class="tl center mw6 lh-copy f5 ph3 ph4-ns">
  Some Party is proud to be sponsored this month by my friends at <a class="black no-underline fw4 bb b--black" href="https://www.srcvinyl.ca" target="_blank">srcvinyl</a>, purveyors of vinyl records online from <a class="black no-underline fw4 bb b--black" href="https://www.srcvinyl.ca" target="_blank">srcvinyl.ca</a> (CAN) and <a class="black no-underline fw4 bb b--black" href="https://www.srcvinyl.com" target="_blank">srcvinyl.com</a> (US).
</p>