<a href="http://www.fmeat.org/" target="_blank">
  <%= image_tag 'sponsors/fme.svg', alt: "Festival de musique émergente en Abitibi-Témiscamingue", class: "w-100 dib-ns mw5 mt4 dim" %>
</a>
<p class="tl center mw6 lh-copy f5 ph3 ph4-ns">
  Some Party is sponsored this month by the Quebec's <a class="black no-underline fw4 bb b--black" href="http://www.fmeat.org/" target="_blank">Festival de musique émergente en Abitibi-Témiscamingue</a> (FME), the music festival that's celebrating its fifteenth anniversary this summer. Labour Day weekend will bring together nearly 70 Canadian and international artists from a wide range of genres to Rouyn-Noranda, including A Tribe Called Red, Andy Shauf, a black metal showcase, and a range of psyche rock acts.
</p>