<a href="https://www.facebook.com/warehouseniagara/" target="_blank">
  <%= image_tag 'sponsors/warehouse.svg', alt: "Warehouse Concert Hall", class: "w-100 dib-ns mw4 mt4 dim" %>
</a>
<p class="tl center mw6 lh-copy f5 ph3 ph4-ns">
  Some Party is proud to be sponsored this month by <a class="black no-underline fw4 bb b--black" href="https://www.facebook.com/warehouseniagara/" target="_blank">Warehouse</a>, a multi-use concert and event space, located centrally in downtown St. Catharines, Ontario. Warehouse is dedicated to providing the region's best live music experience. Check it out at 11 Geneva Street, with show listings and more <a class="black no-underline fw4 bb b--black" href="https://www.facebook.com/warehouseniagara/" target="_blank">online</a>.
</p>