<a href="http://horseshoetavernbook.com/" target="_blank">
  <%= image_tag 'sponsors/horseshoe_book.jpg', alt: "The Legendary Horseshoe Tavern: A Complete History", class: "w-100 dib-ns mw5 mt4 dim" %>
</a>
<p class="tl center mw6 lh-copy f5 ph3 ph4-ns">
Some Party is sponsored this month by David McPherson's new book <a class="black no-underline fw4 bb b--black" href="http://horseshoetavernbook.com/" target="_blank">The Legendary Horseshoe Tavern: A Complete History</a>.
Toronto was a very different place when the Horseshoe opened seventy years ago, and the bar has changed along with the city. From country to rock, punk, alt/country, and back to roots, the Horseshoe has attracted premier acts from all eras and launched the careers of many of Canada’s best-known artists.</p>