<a href="http://www.bovinesexclub.com/" target="_blank">
  <%= image_tag 'sponsors/bovine.jpg', alt: "Bovine Sex Club", class: "w-100 dib-ns mw5 mt4 dim" %>
</a>
<p class="tl center mw6 lh-copy f5 ph3 ph4-ns">
Some Party is sponsored this month by Toronto's iconic <a class="black no-underline fw4 bb b--black" href="http://www.bovinesexclub.com/" target="_blank">Bovine Sex Club</a>. Since opening in `91 the  Queen Street West bar's become vital part of the city's music scene. At the Bovine you'll find a mix of cutting edge rock, retro 80's, punk, glam, metal, 70's funk, and British pop against a striking visual backdrop assembled by local artists.
</p>