<div class="dib tc w-100">
  <a href="/store/under-the-circumstances/" class="dib">
    <%= image_tag '/images/store/under-the-circumstances-tape.jpg', alt: "Under The Circumstances", class: "w-100 dib-ns mw5 mt4 dim" %>
  </a>
</div>
<p class="tc center mw6 lh-copy f5 ph3 ph4-ns">
  Some Party's new <a class="black no-underline fw4 bb b--black" href="/store/under-the-circumstances/">Under The Circumstances</a> compilation features new and rare songs from Tough Age, Partner, Wares, Psychic Void, and New Vogue!
</p>
