<form class="subscribe-form" data-controller="subscribe" data-action="submit->subscribe#submit">
  <div data-subscribe-target="input">
    <input type="text" name="email" id="email" class="email" placeholder="you@domain.ca" data-subscribe-target="email" />
    <input type="submit" value="Sign me Up" class="submit" />
  </div>
  <div class="spinner" data-subscribe-target="spinner"></div>
</form>
