<a href="https://goo.gl/forms/HiTEo6CJu3LYFR0v1" target="_blank" class="db tc">
  <%= image_tag 'envelope.svg', alt: "Submit News", class: "w-100 dib-ns mw4 mt4 dim" %>
</a>
<p class="f5 f5-ns center mw-slogan tc pv4 ph2 ph4-ns ma0">
Want to share an update on a Canadian band, label, or festival? <a class="black no-underline fw4 bb b--black" href="https://goo.gl/forms/HiTEo6CJu3LYFR0v1" target="_blank">Send it in</a> and I'll take a look.</p>

<div class="ph6 db bb b--black-20 pv3 mb4 dn-l w-90 center"></div>
