
<form class="mt3">
  <div class="flex">
    <input type="text" name="email" id="email" class="bn f6 f5-ns pl2 lh-copy h2 mr2 fg1" placeholder="you@domain.ca" />
    <input type="submit" onclick="submitForm(event)" value="Sign me Up" class="bn ttu white bg-red dim f5 ph3 lh-copy h2" />
  </div>
</form>
<script>
function submitForm(event) {
    event.preventDefault();

    var formData = {
        email: document.getElementById("email").value
    };

    fetch('https://api.someparty.ca/some_party_subscribe', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData),
    })
    .then(response => response.json())
    .then(data => console.log('Success:', data))
    .catch(error => console.error('Error:', error));
}
</script>

