<form action="https://tinyletter.com/someparty" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/someparty', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" class="mt4">
  <input type="hidden" value="1" name="embed"/>
  <div class="flex items-center justify-center">
    <input type="text" name="email" id="tlemail" class="bn f6 f5-ns pl2 lh-copy h2" placeholder="you@domain.ca" />
    <input type="submit" value="Subscribe" class="bn ttu white bg-red dim f5 ph3 lh-copy h2" />
  </div>
</form>