<p class="maxread center lh-copy f5">
  <em>Some Party is a newsletter sharing the latest in independent Canadian rock'n'roll, curated more-or-less weekly by <a class="black no-underline fw4 bb b--black" target="_blank" href="https://www.buymeacoffee.com/someparty" target="_blank">Adam White</a>. Each edition explores punk, garage, psych, and otherwise uncategorizable indie rock, drawing lines from proto to post and taking some weird diversions along the way.</em>
</p>
