<p class="maxread center lh-copy f5">
  <em>Some Party is a newsletter sharing the latest in independent Canadian rock'n'roll, curated more-or-less weekly by <a class="black no-underline fw4 bb b--black" target="_blank" href="https://www.buymeacoffee.com/someparty" target="_blank">Adam White</a>. Each edition explores punk, garage, psych, and otherwise uncategorizable indie rock, drawing lines from proto to post and taking some weird diversions along the way.</em>
</p>

<div class="maxread center lh-copy f5 flex gap1 flex-column flex-row-l flex-row-m">
  <em>You can stream featured songs from the latest editions of the newsletter via the Some Party Playlists, available on Apple Music and Spotify.</em>

  <div class="flex gap-05 flex-shrink-0 flex-row flex-column-l">
    <a href="https://music.apple.com/ca/playlist/some-party/pl.u-2j4LIq9p0l" target="_blank" class="link dim">
    <%= image_tag 'apple-music.svg', alt: "Some Party Playlist on Apple Music", width: "95px" %>
    </a>

    <a href="https://open.spotify.com/playlist/4Lj4aJm4PkpVWsvnv6taGm?si=Hp_gF34nRGuKw2vN2gMeyg" target="_blank" class="link dim">
    <%= image_tag 'spotify.svg', alt: "Some Party Playlist on Apple Spotify", width: "90px" %>
    </a>
  </div>
</div>
