<form class="mt3" data-controller="unsubscribe" data-action="submit->unsubscribe#submit">
  <div data-unsubscribe-target="pending"></div>
  <div class="flex">
    <input type="hidden" name="email" id="email" data-unsubscribe-target="email" />
    <input type="hidden" name="uuid" id="uuid" data-unsubscribe-target="uuid" />
    <input type="submit"  value="Yes, Please Unsubscribe Me" class="bn ttu white bg-red dim f5 ph3 lh-copy h2" />
  </div>
  <div data-unsubscribe-target="feedback"></div>
</form>
