* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji";
  color: #393939;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 300;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 600px;
  border-style: none;
  border-width: 0;
  height: 1px;
}

img {
  border-style: none;
  width: 100%;
}

ol, ul {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

input {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  overflow: visible;
}

[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

header {
  display: block;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #000;
  background-size: cover;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  @media screen and (min-width: 40em) {
    background-image: url("/images/the-beverleys-courtney-michaud-bg-wide.jpg");
    background-size: cover;
  }
}

#main {
  overflow: hidden;
  position: relative;
}

article {
  display: block;
  font-size: 1rem;
  padding: 1rem;
  line-height: 1.5;

  @media screen and (min-width: 30em) {
    font-size: 1.25rem;
    padding: 2rem;
  }
}

a {
  color: #000;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: rgb(172, 172, 172);
}

a:hover {
  text-decoration: none;
}

h2.generic,
h3.generic {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

article h3 {
  margin-bottom: 0;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.1rem;
  gap: .5rem;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.artist-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .25rem;

}
.artist-title a {
  padding: .25rem 1rem;
  background-color: black;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: -1px;
}

.artist-title a::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -1deg);
  transform-origin: top left;
}

.artist-title a::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -1deg);
  transform-origin: bottom right;
}

div.split {
  padding: .25rem;
  background-color: #FF0000;
  color: white;
  font-size: 1.1rem;
  position: relative;
  z-index: 1;
  font-weight: 700;
}

div.split::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -1deg);
  transform-origin: top left;
}

div.split::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -1deg);
  transform-origin: bottom right;
}

.media-title {
  padding: 0 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

article p {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

article p.image {
  max-width: 1200px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

article p.contest {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}

.footer {
  display: block;
}

.header-content {
  max-width: 600px;
  margin: 0px auto;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 30em) {
    display: flex;
  }
}

.branding {
  text-align: center;
  margin-right: 1rem;
  width: 100%;
  display: inline-block;

  @media screen and (min-width: 30em) {
    text-align: left;
  }
}

.logo-wide {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 16rem;

  @media screen and (min-width: 30em) {
    display: none;
  }

  @media screen and (min-width: 60em) {
    max-width: 16rem;
  }
}

.logo-square {
  width: 100%;
  max-width: 16rem;
  display: none;

  @media screen and (min-width: 30em) {
    max-width: 10rem;
    display: inline-block;
  }

  @media screen and (min-width: 40em) {
    max-width: 13rem;
  }
}

.branding h1 {
  display: none;
}

.header-cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;

  @media screen and (min-width: 40em) {
    max-width: 330px;
  }
}

.header-cta h2 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.header-cta p {
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
}

@media screen and (min-width: 60em) {
  .header-cta p {
    font-size: 1rem;
  }
}

.subscribe-form {
  margin-top: 1rem;
  width: 100%;
}

form > div {
  display: flex;
}

input.email {
  font-size: 0.875rem;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  line-height: 1.5;
  height: 2rem;
  flex-grow: 1;
  border-style: none;
  border-width: 0;
  border-style: solid;
  border-width: 1px;

  @media screen and (min-width: 30em) {
    font-size: 1rem;
  }
}

input.submit {
  transition: opacity 0.15s ease-in;
  opacity: 1;
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #FF0000;
  color: #fff;
  line-height: 1.5;
  height: 2rem;
  border-style: none;
  border-width: 0;
}

input.submit:hover,
input.submit:focus {
  opacity: 0.5;
}

.subscribe-spinner  {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.menu {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: flex-end;
  display: flex;
  width: 100%;
  gap: .5rem;
  margin-top: .5rem;
}

.menu li a {
  color: white;
}

.date {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
}

.page-title {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  font-size: 2.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: -1px;
}

.page-title a {
  font-weight: 700;
  text-decoration: none;
}

p.supplemental {
  font-size: 1rem;
}

.playlists {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
  line-height: 1.5;
  gap: 1rem;
  flex-direction: column;
  display: flex;

  @media screen and (min-width: 60em) {
    flex-direction: row;
  }
}

.playlist-icons {
  gap: .5rem;
  flex-direction: row;
  flex-shrink: 0;
  display: flex;

  @media screen and (min-width: 60em) {
    flex-direction: column;
  }
}

.playlist-icons img {
  opacity: 1;
  transition: opacity 0.15s ease-in;
  width: 95px;
}

.playlist-icons img:focus,
.playlist-icons img:hover {
  opacity: 0.5;
}

.media-links {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}

blockquote {
  max-width: 570px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  color: rgba(0, 0, 0, 0.6);
  border-width: 0.25rem;
  border-color: #FF0000;
  border-left-style: solid;
}

.media-wrapper {
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
}

.media-removed {
  background: black;
  max-width: 800px;
  margin: 0px auto;
  color: white;
  padding: 2em;
  margin-bottom: 2em;
  font-size: 80%;
}

.text-media {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  width: 100%;
  display: inline-block;
}

.aspect-ratio {
  height: 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  background: #e8e8e8;
}

.aspect-ratio--object {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.instagram-media {
  margin: 0px auto !important;
}

.post-article {
  margin-right: auto;
  margin-left: auto;
  max-width: 34em;

  @media screen and (min-width: 60em) {
    padding: 1rem;
  }
}

.pagination {
  max-width: 100%;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  list-style-type: none;
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
}

.pagination li {
  transition: opacity 0.15s ease-in;
  background-color: #000;
  width: 50%;
  display: flex;
  opacity: 1;
}

.pagination li:focus,
.pagination li:hover {
  opacity: 0.5;
}

.pagination a {
  padding: 1rem;
  color: #fff;
  width: 100%;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  gap: 1rem;
}

.pagination-date {
  font-size: 0.75rem;
}

.pagination-title {
  font-size: 0.875rem;

  @media screen and (min-width: 30em) {
    font-size: 1.25rem;
  }
}

.pagination-text {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.pagination-text.right {
  text-align: right;
}

.lazyload,
.lazyloading {
  opacity: 0.2;
  background: black;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.bottom-cta-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000;
  color: #fff;

  @media screen and (min-width: 40em) {
    background-image: url("/images/the-beverleys-courtney-michaud-bg-wide.jpg");
    background-size: cover;
  }
}

.bottom-cta {
  max-width: 475px;
}

.bottom-cta a {
  color: white;
}

.bottom-cta a:hover {
  text-decoration: none;
}

.bottom-cta h2 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.bottom-cta p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;

  @media screen and (min-width: 60em) {
    font-size: 1rem;
  }
}

.coffee {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.coffee img {
  width: 50px;
}

footer {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display: inline-block;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;

  @media screen and (min-width: 30em) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.footer-icon {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: 80%;
}

.footer-icon img {
  width: 50px;
}

.inline-form {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

small {
  font-size: 70%;
}

.store-button {
  margin: 0px auto;
}

.store-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-button a {
  font-size: 1.25rem;
  text-transform: uppercase;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ff39ff;
  color: #fff;
  text-decoration: none;
  border-style: none;
  border-width: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.back-issues {
  list-style-type: none;
  padding-left: 0;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.back-issue {
  margin-bottom: 2rem;
}

.back-issue-date {
  font-size: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.back-issue-description {
  font-size: 80%;
  max-width: 600px;
  margin-top: 0.25rem;
}

.legacy-media-link {
  font-weight:400;
  display:block;
  text-align:center;
  font-size:.875rem;
  margin-bottom: 3rem;
}
