<!doctype html>
<html>
  <head>
    <style>
      body {
        max-width: 1000px;
        margin: 0px auto;
        font-size: 100%;
      }
    </style>
  </head>
  <body>
    <div><a href="https://www.someparty.ca/" target="_blank"><img alt="Some Party" class="tl-email-image" height="240" src="https://www.someparty.ca/images/some-party-email-logo.jpg" style="width: 640px; max-width: 640px;" width="640" /></a></div>
    <p><%= current_article.date.strftime('%A %B %e, %Y') %></p>
    <h1><%= current_article.title unless current_article.nil? %></h1>
    <p><small><em>Some Party is a newsletter sharing the latest in independent Canadian rock&#39;n&#39;roll, curated weekly by <a href="https://www.buymeacoffee.com/someparty">Adam White</a>. Each edition explores punk, garage, psych, and otherwise uncategorizable indie rock, drawing lines from proto to post and taking some weird diversions along the way. You can read this edition in full (and untrimmed by busybody webmail providers) <a href="https://www.someparty.ca/">on the web</a>.</em></small></p>
    <%= yield %>
    <br/>
    <h3><strong>Merch Table</strong></h3>
    <p>If you find this newsletter useful, please share it. The audience for Canadian punk-adjacent music updates is smaller than you'd think, but we're so interconnected that you likely know someone who'd dig this. Every section of the letter comes with a handy direct link for easy sharing, just visit <a href="https://www.someparty.ca">someparty.ca</a> and look for "link here" under each subtitle.</p>
    <p>Of course, I'd not complain if you <a href="https://www.buymeacoffee.com/someparty">bought me a coffee</a> for my troubles or picked up one of the remaining tapes at <a href="https://someparty.bandcamp.com/">Bandcamp</a>. If you'd like a Some Party sticker, just respond to this email and it's yours.</p>
  </body>
</html>
