<!doctype html>
<html>
  <head>
    <style>
      body {
        max-width: 1000px;
        margin: 0px auto;
        font-size: 100%;
      }
    </style>
  </head>
  <body>
    <p><%= current_article.date.strftime('%A %B %e, %Y') %></p>
    <h1><%= current_article.title unless current_article.nil? %></h1>
    <p><small><em>Some Party is a newsletter sharing the latest in independent Canadian rock&#39;n&#39;roll, curated weekly by <a href="https://www.buymeacoffee.com/someparty">Adam White</a>. Each edition explores punk, garage, psych, and otherwise uncategorizable indie rock, drawing lines from proto to post and taking some weird diversions along the way. Read this edition <a href="https://www.someparty.ca/">on the web</a>.</em></small></p>
    <%= yield %>
    <br/>
    <h3><strong>Merch Table</strong></h3>
    <p>Enjoying the weekly newsletter? Tell your weird pals to subscribe or, better yet, <a href="https://www.buymeacoffee.com/someparty" target="_blank">buy me a coffee</a> so I can remain conscious enough to assemble the next one.</p>
    <p>Some Party has <em>Under The Circumstances</em> cassettes for purchase at <a href="https://someparty.bandcamp.com/" target="_blank">Bandcamp</a> and free stickers available to any who want them. They look great on a guitar case, or so I'm told.</p>
    <p>You can always find the web-ready version of the letter at <a href="https://www.someparty.ca" target="_blank">someparty.ca</a>.</p>
  </body>
</html>
