<!doctype html>
<html>
  <head>
    <style>
      body {
        max-width: 1000px;
        margin: 0px auto;
        font-size: 100%;
      }
    </style>
  </head>
  <body>
    <p><%= current_article.date.strftime('%A %B %e, %Y') %></p>
    <h1><%= current_article.title unless current_article.nil? %></h1>
    <p><small><em>Some Party is a newsletter sharing the latest in independent Canadian rock&#39;n&#39;roll, curated weekly by <a href="https://www.instagram.com/adamwhite/">Adam White</a>. Each edition explores punk, garage, psych, and otherwise uncategorizable indie rock, drawing lines from proto to post and taking some weird diversions along the way. Read this edition <a href="https://www.someparty.ca/">on the web</a>.</em></small></p>
    <%= yield %>
    <br/>
    <h3><strong>Merch Table</strong></h3>
    <p>Enjoying the weekly newsletter? The best way to support Some Party is to tell all your weird pals about it on your preferred social platform. The second best would be to <a href="https://www.buymeacoffee.com/someparty" target="_blank">buy me a coffee</a>!</p>
    <p>Some Party has <em>Under The Circumstances</em> cassettes for purchase at <a href="https://someparty.bandcamp.com/" target="_blank">Bandcamp</a>, featuring cool tracks from some of my favourite bands. I also have free stickers available if you want one (just ask!).</p>
    <p>You can always find the web-ready version of the letter at <a href="https://www.someparty.ca" target="_blank">someparty.ca</a>. I can be found on both <a href="https://twitter.com/adamwhite" target="_blank">Twitter</a> and <a href="https://www.instagram.com/adamwhite/" target="_blank">Instagram</a> as @adamwhite.</p>
  </body>
</html>
