<% wrap_layout :layout do %>
  <article>
    <p class="image"><img src="<%= current_page.data.header_image_uri %>" alt="<%= current_page.data.header_image_alt %>" /></p>
    <h1 class="page-title"><%= current_page.data.title unless current_page.data.title.nil? %></h1>
    <%= yield %>
  </article>
<% end %>
