<% wrap_layout :layout do %>
  <article>
    <h1 class="page-title"><%= current_page.data.title unless current_page.data.title.nil? %></h1>
    <div data-controller="unsubscribe"></div>
    <%= yield %>
    <%= partial '/_partials/resend' %>
  </article>
<% end %>
