<% wrap_layout :layout do %>
  <article class="pa3 pa4-ns lh-copy f5 f4-ns">
    <h1 class="f2 mt1 mb0 maxread center"><%= current_page.data.title unless current_page.data.title.nil? %></h1>
    <div data-controller="unsubscribe"></div>
    <%= yield %>
    <div class="maxread center">
      <%= partial '/_partials/resend' %>
    </div>
  </article>
<% end %>
